---
---
@import 'syntax';

$site-background-color: #f5f5f5;
$code-background-color: #282828;
$contrast-color: #555;

$azul-accent-color: #2D89C7;

/*============================================================================*/
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Abril+Fatface';

@import 'pins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}


body {
  background-color: $site-background-color;
  border-top: 5px solid $contrast-color;
  color: $contrast-color;
  -webkit-font-smoothing: antialiased;
  padding-top: 1em;
}

h1 { font-family: 'Abril FatFace'; font-size: calc(100% + 7pt); }
h2 { font-family: 'Abril FatFace'; font-size: calc(100% + 6pt); }
h3 { font-family: 'Abril FatFace'; font-size: calc(100% + 5pt); }
h4 { font-family: 'Abril FatFace'; font-size: calc(100% + 4pt); }
h5 { font-family: 'Abril FatFace'; font-size: calc(100% + 3pt); }
h6 { font-family: 'Abril FatFace'; font-size: calc(100% + 2pt); }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl,
blockquote,
table,
img,
hr,
.fluid-width-video-wrapper,
.highlight {
  margin-bottom: 20px;
}

blockquote {
  padding: 0 30px;
  border-left: 2px solid darken($site-background-color, 15%);
}

ul, ol {
  margin-left: 40px;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

hr {
  border : 0;
  height: 25px;
  background : url(/public/images/eagle.png) center center no-repeat;
}

code {
  font-family: 'Source Code Pro', monospace;
}

p code {
  margin-left: 4px;
  margin-right: 4px;
  color: $code-background-color;
  background-color: $site-background-color;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.9em;
}

table {
  border-collapse: collapse;
  border: 1px solid $contrast-color;

  td, th {
    border: 1px solid lighten($contrast-color, 50%);
    padding: 5px 10px;
  }

  thead {
    background-color: darken($site-background-color, 10%);
  }
}

// TODO: make dt smaller
dt {
  float: left;
  width: 30%;
  font-weight: bold;
}

dd {
  float: right;
  width: 70%;
}

footer {
  font-size: .8rem;
  text-align: center;
}

/*============================================================================*/
.azul { a { color: $azul-accent-color;
    &:hover { color: darken($azul-accent-color, 20%);
}}}

/*----------------------------------------------------------------------------*/

.highlight {
  padding: 15px;
  border-radius: 6px;
  background-color: $code-background-color;
  color: #f8f8f2;
  line-height: 1;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.24);
  overflow-x: auto;

  pre {
    * {
      font-size: 0.9em;
      font-weight: lighter;
      font-family: 'Source Code Pro', monospace;
    }
  }
}

.container {
  max-width: 1000px;
  padding: 0 20px;
}

.center {
  text-align: center;
}

.right {
  float: right;
  margin: 0 0 20px 20px;
}

.left {
  float: left;
  margin: 0 20px 20px 0;
}

.top-navbar {
  margin-bottom: 40px;
  height: 110px;

  a {
    display: inline-block;
    color: $contrast-color;
    padding: 66px 20px 25px;
    margin-right: 10px;
    margin-top: -5px;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid lighten($contrast-color, 10%);
    transition: all ease-in-out .3s;

    &:hover,
    &.current-page {
      color: $site-background-color;
      border-bottom: none;
    }

    &:hover {
      background-color: $contrast-color;
      transform: translateY(5px);
    }

    &.current-page {
      background-color: $contrast-color;
    }
  }
}

.archive,
.single {
  margin-bottom: 100px;
}

.single {
  font-size: 17pt;
  line-height: 28px;
}

.single time {
  color: #999;
  font-size: .9rem;
}

.bundle {
  border-top: 1px solid lighten($contrast-color, 50%);
  padding-top: 10px;
  margin-bottom: 10px;
}

.post-date {
  text-align: right;
}

.not-found {
  margin-top: 150px;
  text-align: center;
  font-size: 2rem;
}

.not-found h1 {
  font-size: 8rem;
}

dl,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

dl,
.clearfix:after {
    clear: both;
}

/*============================================================================*/
#logo {
  display: inline-block;
  height: 110px;
  width: 110px;
  background-size: 110px 110px;
  background-position: left center;
  background-repeat: no-repeat;
}

/*============================================================================*/
@media screen and (max-width: 767px) {
  .top-navbar {
    text-align: center;
    margin-top: 0px;

    a {
      padding: 5px 10px;
      margin: 5px;
      border-radius: 9px;
      border: 1px solid $contrast-color;
      transition: none;

      &:hover {
        transform: none;
      }
    }
  }

  .bundle,
  .post-date {
    text-align: center;
  }

  .bundle article {
    margin-bottom: 30px;
  }

  #logo {
    background-position: center center;
  }

  video {
    max-width: 100%;
  }
}

.tagged {
  a.tag-btn {
    border-radius: 0;
    padding: 0px;
    margin: 1px 0px;
    display: inline-block;
    color: white;
    background-color: #67a4ce;
    margin: 3px 0px;
    padding: 4px 11px 9px 11px;
    border-radius: 5px;

    &:active, &:hover {
      color: white;
      background-color: #7BC0FA;
    }
  }

  ul {
    list-style-type: none;
  }
}



kbd {
  display: inline-block;
  border: 1px solid #CECECE;
  padding: 0 0.6em 0.2em 0.4em;
  border-radius: 4px;
  box-shadow: inset -1px -1px 1px #9e9e9e, 0 1px 1px #CECECE;
  font-size: 0.7em;
  margin-bottom: 0.15em;
}

.overflow-long {
  max-height: 24em;
  overflow-y: auto;
  margin-bottom: 1em;
  border-radius: 6px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.24);
}
